<p-table [columns]="cols" [value]="cities" [paginator]="true" [rows]="20" [pageLinks]="3" #dt>
  <ng-template pTemplate="caption">
      Cities List
        </ng-template>
<ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input class='filterInput' pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-city let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ col.data ? (city[col.field] | date : col.format) : city[col.field] }}
      </td>   
    </tr>
</ng-template>
</p-table>
